@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

html {
  background-color: #f9fafb !important;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9fafb !important;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #111827 !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
